.articlePost{
  .settingsButton{
    &.active{
      display: none;
    }

    will-change: top, right, bottom, left;
    transition: all 0s;

    position: fixed;
    right: 15px;
    top: 287px;
    height: 48px;
    width: 48px;
    background: none;
    border: none;
    border-radius: 50%;

    background-image: url('../../assets/img/articleSettings/settingsButton.svg');
    background-size: contain;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
  }

  .settings{
    &.active{
      display: block;
    }

    will-change: top;
    display: none;
    position: fixed;
    top: 287px;
    left: 15px;
    right: 15px;

    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    border-radius: 20px;

    .menu{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $pink;
      padding: 10px 16px 0 16px;
      border-radius: 20px 20px 0 0;
      height: 40px;

      >*{
        margin: 0px;
        margin-bottom: 5px;
      }

      .settingsIcon{
        height: 26px;
        width: 26px;
        background-image: url('../../assets/img/articleSettings/settingsIcon.svg');
        background-size: contain;
      }

      h1{
        &.active{
          border-bottom: 2px solid #000;
        }

        padding-bottom: 2px;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .27px;
        line-height: 16px;
        border-bottom: 2px solid $pink;
      }
      .close{
        height: 18px;
        width: 18px;
        background: none;
        border: none;
        background-image: url('../../assets/img/articleSettings/settingsClose.svg');
        background-size: contain;
        margin-bottom: 10px;
        margin-right: 4px;
      }
    }

    >.view{
      padding: 0 13px;
      padding-top: 16px;
      display: none;

      &.active{
        display: block;
      }
    }

    // Radio input style
      input[type="radio"]{
        height: 20px;
        width: 20px;
        border: 1.5px solid #000;
        border-radius: 10px;
        -webkit-appearance: none;
      }
      input[type="radio"]:after {
        background-color: none;
        border-radius: 25px;
        content: '';
        display: block;
        position: relative;
        height: 10px;
        width: 10px;
        left: 3.6px;
        top: 3.5px;
      }
      input[type="radio"]:checked:after {
        background-color: #000;
      }
  }
}
