.textLayout.view{
  padding: 8px 16px 16px 16px;

  >div h2{
    font-size: 14px;
    letter-spacing: 0.27px;
    line-height: 16px;
    margin: 0;
  }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    height: 70px;
    width: 46px;
    margin: 0 12px;
    margin-top: 8px;
    background: none;
    border: none;
    border-radius: 9px;
    background-repeat: no-repeat;
    background-position: center;

    &.selected{
      border: 2px solid $pink;

      &:focus{
        outline: none;
      }
    }
  }

  .lineHeight{
    border-bottom: 1px solid #000;
    padding-bottom: 14px;

    .tight{
      background-image: url('../../assets/img/articleSettings/lineHeightTight.svg');
    }
    .regular{
      background-image: url('../../assets/img/articleSettings/lineHeightRegular.svg');
    }
    .loose{
      background-image: url('../../assets/img/articleSettings/lineHeightLoose.svg');
    }
  }

  .margin{
    padding-bottom: 14px;

    h2{
      margin-top: 8px;
    }
    .tight{
      background-image: url('../../assets/img/articleSettings/marginTight.svg');
    }
    .regular{
      background-image: url('../../assets/img/articleSettings/marginRegular.svg');
    }
    .loose{
      background-image: url('../../assets/img/articleSettings/marginLoose.svg');
    }
  }
}
