.articlePost{
  .settingsButton{
    &.active{
      display: none;
    }

    position: fixed;
    right: 15px;
    top: 287px;
    height: 48px;
    width: 48px;
    background: none;
    border: none;

    background-image: url('../../assets/img/settingsIcon.svg');
    background-size: contain;
  }

  .settings{
    &.active{
      display: block;
    }

    display: none;
    position: fixed;
    top: 287px;
    left: 15px;
    right: 15px;

    background-color: #E1AB99;
    color: white;
    border-radius: 20px;
    padding: 10px;

    .menu{
      display: flex;
      justify-content: space-between;
      align-items: center;

      >img{
        align-self: flex-start;
      }

      h1{
        &.active{
          border-bottom: 2px solid white;
        }

        padding-bottom: 2px;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .27px;
        line-height: 16px;
      }
      .settingsClose{
        height: 18px;
        width: 18px;
        background: none;
        border: none;
        background-image: url('../../assets/img/x.svg');
        background-size: contain;
      }
    }

    .fontOptions{
      padding: 0 13px;
      padding-top: 16px;

      .fonts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;

        .font{
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          label{
            font-size: 14px;
            letter-spacing: .27px;
            line-height: 17px;
          }
          input{
            height: 20px;
            width: 20px;
            border: 1.5px solid #fff;
            border-radius: 10px;
            -webkit-appearance: none;
          }
          input[type="radio"]:after {
            background-color: none;
            border-radius: 25px;
            content: '';
            display: block;
            position: relative;
            height: 10px;
            width: 10px;
            left: 4px;
            top: 4px;
          }
          input[type="radio"]:checked:after {
              background-color: #fff;
          }
        }
      }
    }
  }
}


.fontOptions{
  label[for="fontHarriet"] {
    font-family: 'Harriet Display Regular';
  }
  label[for="fontPlayfair"] {
    font-family: 'Playfair Display';
  }
  label[for="fontMerriweather"] {
    font-family: 'Merriweather';
  }
  label[for="fontOpenSans"] {
    font-family: 'Open Sans';
  }
  label[for="fontMontserrat"] {
    font-family: 'Montserrat';
  }
  label[for="fontOpenDyslexic"] {
    font-family: 'OpenDyslexic';
  }
}
