nav{
  height: 64px;
  width: 100%;
  background-color: $black;

  display: flex;
  justify-content: space-between;

  .logoContainer{
    height: 100%;
    padding: 8px;

    img{
      height: 100%;
      filter: invert(100%);
    }
  }

  .menuIcon{
    width: 32px;
    margin: 20px 23px;

    .icon{
      height: 100%;
      width: 100%;
      background-image: url('../../img/menuIcon.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .menuDrawer{
    &.active{
      transform: translateX(0);
    }

    position: fixed;
    z-index: 1;
    right: 0;
    top: 64px;
    width: 100%;
    height: 100vh;
    padding: 32px;
    background-color: $pink;

    transform: translateX(100%);
    transition: transform .25s;
    will-change: transform;

    display: flex;
    flex-direction: column;

    .menuItem{
      color: $black;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: .62px;
      line-height: 26px;

      &.btn{
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
        padding: 15px;
        margin: 5px 0;
      }
    }

    .loginView{
      display: flex;
      flex-direction: column;

      &.active{
        transform: translateX(0);
      }
      .close{
        background-image: url('../../assets/img/articleSettings/settingsClose.svg');
        height: 20px;
        width: 20px;
        align-self: flex-end;
      }

      position: fixed;
      // z-index: 1;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      padding: 32px;
      background-color: $pink;

      transform: translateX(100%);
      transition: transform .25s;
      will-change: transform;

      #loginform{
        .login-username, .login-password{
          input{
            border: none;
            border-radius: 5px;
            width: 100%;
          }
        }
        .login-remember{

        }
        .login-submit input{
          border: none;
          border-radius: 6px;
          width: 138px;
          background-color: $black;
          color: #fff;
          padding: 7px 0;
          margin-top: 8px;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);

          font-size: 17px;
          letter-spacing: .33px;
          line-height: 20px;
        }
      }
    }
  }
}
