.articleFooter .continue{
  background-color: $black;
  color: #fff;

  >.title, > p{
    color: #fff;
  }
  >.title{
    font-size: 19px;
    font-weight: bold;
    letter-spacing: .37px;
    line-height: 22px;

    margin: 31px 0 4px 0;
  }
  >p{
    font-size: 17px;
    letter-spacing: .33px;
    line-height: 20px;

    margin: 0;
  }
  .arrow{
    margin: 26px 0 37px 0;
  }

  .related{
    width: 100%;

    h1{
      color: $pink;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: .33px;
      line-height: 20px;

      margin: 0 0 7px 0;
    }
    h2{
      font-size: 14px;
      letter-spacing: .27px;
      line-height: 16px;
    }

    .articles{
      display: flex;
      justify-content: space-between;

      .article{
        width: 50%;
        margin-right: 8px;

        img{
          height: 100px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
