.articleFooter .social{
  margin-top: 32px;

  .media{
    min-height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    a{
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
    }
    .facebook{
      background-image: url(../../../../../img/social/fb-square.svg);
    }
    .twitter{
      background-image: url(../../../../../img/social/twitter-square.svg);
    }
  }
  .title{
    margin: 29px 0 0 0;
  }
  p{
    margin: 4px 0 0 0;
  }
  .heart{
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-image: url('../../../../../img/social/heart.svg');
    height: 104px;
    width: 118px;
    margin-top: 18px;
  }
  h2.title{
    margin-top: 33px;
  }
  .mailUs{
    margin-bottom: 30px;

    a{
      text-decoration: none;
      color: #1A1A1A;
      padding-bottom: 2px;
      border-bottom: 1px solid #E1AB99;
    }
  }
}
