/*
@font-face {
    font-family: '';
    src: url('../fonts/name.format') format('opentype | truetype');
}
*/

@font-face {
    font-family: 'Harriet Display Regular';
    src: url('../fonts/Harriet_Display_Regular.otf') format('opentype');
}
